---
sidebar_cats:
- all
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Percolator - {{ page.title }}</title>
    <link href="http://github.com/stylesheets/bundle_common.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://github.com/stylesheets/bundle_github.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
  </head>

  <body>
    {% if page.main_category %}
      <script type="text/javascript">var main_category = "{{ page.main_category }}"</script>
    {% else %}
      {% if page.categories %}
        <script type="text/javascript">var main_category = "{{ page.categories }}"</script>
      {% endif %}
    {% endif %}
    <div id="main">
      <div id="header" class="basic">
        <div class="site">
          <div class="logo boring">
            <a href="/"><img src="/images/percolator.png" height="75" alt="percolator logo" /></a>
          </div>
          <div class="topsearch">
            <ul class="nav logged_out">
              <li><a href="http://github.com/percolator/percolator">Source</a></li>
              <li><a href="http://github.com/percolator/percolator/downloads">Downloads</a></li>
              <li><a href="http://github.com/">Back to GitHub</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="content" class="site">
        <div id="guides">
          <div class="guide">
            <div class="main">
              <h1>Percolator</h1>
              <h2>{{ page.title }}</h2>

              <div class="wikistyle">
                {{ content }}
              </div>
            </div>

            <div class="sidebar">
              {% for cat in (page.sidebar_cats) %}
                <h3>{{ cat | replace:'_',' ' | capitalize }}</h3>
                  <ul id="categories">
                    {% for post in site.posts reversed %}{% if post.categories contains cat %}
                      {% if page.title == post.title %}
                        <li>{{ page.title }}</li>
                      {% else %}
                        <li><a href="{{ post.url }}" id="{{ cat }}">{{ post.title }}</a></li>
                      {% endif %}
                    {% endif %}{% endfor %}
                  </ul>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="push"></div>
    </div>

    <div id="footer">
      <div class="site">

        <div class="info">
          <div class="links">
             Subscribe to percolator-user@googlegroups.com to receive information of new releases of percolator
             <form action="http://groups.google.com/group/percolator-user/boxsubscribe">
             Email: <input type=text name=email /><input type=submit name="sub" value="Subscribe" />
          </div>
          <div class="company">
           &copy;
            {{ site.time | date: "%Y" }}
            GitHub Inc.
            All rights reserved.
           | <a href="http://github.com/site/terms">Terms of Service</a> | <a href="http://github.com/site/privacy">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
     </script>
     <script type="text/javascript">
        try{ 
            var pageTracker = _gat._getTracker("UA-878997-6");
            pageTracker._trackPageview();
        } catch(err) {} 
      </script>
  </body>
</html>
